<div class="center hero-unit">
  <h1>ZEN Freedom Powerbank System</h1>

  <h2>
    For More information please contact
    <a href="http://www.zenhomeenergy.com.au/">ZEN Home Energy Systems</a>
    for more information.
  </h2>

  <%= link_to "Sign In Now!", signup_path , class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>